{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-multiline-arrays",
    "prettier-plugin-tailwindcss"
  ],
  "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"],
  "singleAttributePerLine": true
}
